/*
Dunkles Design inspiriert vom Windows 11 Anwendungen.

Hintergrundfarbe:
Hauptcontainerfarbe:
Schatten:

Schriftart: Segoe UI Variable

-fx-effect: dropshadow(gaussian, black, 5, 0.0, 0, 3);
 */


.root {
	-fx-background-color: #202020;

    -fx-font-family: sans-serif;
	-fx-font-size: 14px;
	-fx-text-fill: white;

	-fx-accent: #8282ce;
	-fx-focus-color: transparent;
}

/* Menü Leiste oben */

.menu-bar {
	-fx-background-color: #202020;
}

.menu:hover {
	-fx-background-color: #2d2d2d;
}

.menu-item {
	-fx-background-color: #202020;
}

.menu-item:hover {
	-fx-background-color: #2d2d2d;
}

/* Liste an der linken Seite */

.tree-view {
	-fx-background-color: #202020;
}

.tree-cell:hover {
	-fx-background-color: #2d2d2d;
}

.tree-cell:selected {
	-fx-background-color: #454545;
	-fx-text-fill: #76b9ed;
}

/* Tabellen */

.column-header-background {
	-fx-background-color: red;
}

.table-view {
	-fx-background-color: transparent;
}

.table-row-cell:even {
	-fx-background-color: red;
}

/* Reiter */

.tab-header-area {
	-fx-padding: 0px 5px 0px 0px;
}

.tab {
	-fx-background-color: #323232;
	-fx-border-radius: 10px 10px 10px 10px;
	-fx-background-radius: 10px 10px 10px 10px;
	-fx-background-insets: 2px 2px 5px 2px;
	-fx-pref-height: 40px;
	-fx-padding: 10px 10px 10px 10px;
	-fx-effect: dropshadow(gaussian, black, 5, 0.0, 0, 1);
}

.tab:pressed {
	-fx-background-color: #2c2c2c;
	-fx-translate-y: 3px;
}

.tab-label {
	-fx-text-fill: white;
}

.label {
	-fx-text-fill: white;
}

.split-pane-divider {
	-fx-background-color: #202020;
	-fx-background-radius: 5px 5px 0px 0px;
	-fx-background-insets: 0px 5px 0px 5px;
	-fx-pref-width: 18px;
}

.split-pane-divider:hover {
	-fx-background-color: #2d2d2d;
}

.title-label {
	-fx-font-size: 20px;
	-fx-text-fill: #ff7716;
	-fx-font-weight: bold;
}

.button {
	-fx-pref-with: 100px;
	-fx-background-color: #5c5cd3;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-effect: dropshadow(gaussian, black, 5, 0.0, 0, 1);
}

.button:hover {
	-fx-background-color: #5c5cd3;
}

.button:pressed {
	-fx-background-color: #5c5cd3;
	-fx-translate-y: 1;
	-fx-effect: dropshadow(gaussian, black, 5, 0.0, 0, 0);
}

.text-field {
	-fx-border-color: white;
	-fx-border-width: 1px;
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;
	-fx-pref-column-count: 20;
}

.tree-cell, .column-header, .placeholder, .filler, .tab-header-background, .split-pane, .platzhalter, .behaelter {
	-fx-background-color: transparent;
}

.platzhalter {
	-fx-padding: 2px 2px 5px 2px;
}

.hauptbehaelter {
	-fx-padding: 10px;
	-fx-background-color: #272727;
	-fx-background-radius: 10px 10px 0px 0px;
}

.behaelter {
	-fx-background-color: #323232;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-padding: 10px;
	-fx-effect: dropshadow(gaussian, black, 5, 0.0, 0, 1);
}

/*
Nicht jeder Behälter kann gedrückt werden.

.behaelter:pressed {
	-fx-translate-y: 1;
	-fx-background-color: #2c2c2c;
	-fx-effect: dropshadow(gaussian, black, 5, 0.0, 0, 0);
}
 */


