/*
 * Dunkles Design inspiriert vom Windows 11 Anwendungen.
 */

.root {
	-fx-background-color: #202020;

    /* -fx-font-family: sans-serif; */
	-fx-font-family: "Helvetica Neue";
	-fx-font-size: 14px;
	-fx-text-fill: white;

	-fx-accent: #46ae55;
	-fx-focus-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Menü Leiste                                                                 *
 *                                                                             *
 ******************************************************************************/

.menu-bar {
	-fx-background-color: #202020;
}

.context-menu {
	-fx-background-color: #2d2d2d;
}

.menu:hover {
	-fx-background-color: #2d2d2d;
	-fx-border-color: transparent transparent white transparent;
	-fx-border-width: 0 0 3px 0;
	-fx-border-insets: 0 0 -3px 0;
}

.menu-item {
	-fx-background-color: #202020;
}

.menu-item:hover {
	-fx-background-color: #2d2d2d;
}

/*******************************************************************************
 *                                                                             *
 * Verzeichnisbaum                                                             *
 *                                                                             *
 ******************************************************************************/

.tree-view {
	-fx-background-color: #202020;
}

.tree-cell {
	-fx-text-fill: white;
}

.tree-cell:filled:hover {
	-fx-background-color: #2d2d2d;
}

.tree-cell:filled:selected {
	-fx-background-color: #454545;
	-fx-text-fill: #46ae55;
}

/*******************************************************************************
 *                                                                             *
 * Tabelle                                                                     *
 *                                                                             *
 ******************************************************************************/

.column-header-background {
	-fx-background-color: #202020;
}

.table-view {
	-fx-background-color: #323232;
}

.table-cell {
	-fx-background-color: #323232;
	-fx-border-color: #323232
}

.table-cell:filled {
	-fx-background-color: #323232;
	-fx-border-color: #202020;
	-fx-text-fill: white;
}

.table-row-cell:filled:selected .table-cell {
	-fx-background-color: #454545;
}

.zahlenspalte {
	-fx-alignment: center-right;
}

/*
.table-row-cell:filled:selected {
	-fx-background-color: #454545;
}

.table-row-cell:filled:even {
	-fx-background-color: transparent;
}
 */

/*******************************************************************************
 *                                                                             *
 * Reiter                                                                      *
 *                                                                             *
 ******************************************************************************/

.tab-header-area {
	-fx-padding: 0px 5px 0px 0px;
}

.tab {
	-fx-background-color: #323232;
	-fx-border-radius: 10px 10px 10px 10px;
	-fx-background-radius: 10px 10px 10px 10px;
	-fx-background-insets: 2px 2px 5px 2px;
	-fx-pref-height: 40px;
	-fx-padding: 10px 10px 13px 10px;
	-fx-effect: dropshadow(gaussian, black, 5, 0.0, 0, 1);
}

.tab:pressed {
	-fx-background-color: #2c2c2c;
	-fx-translate-y: 3px;
}

.tab:selected {
	-fx-background-color: #454545;
	-fx-text-fill: #46ae55;
}

.tab-label {
	-fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * Spaltenfenster                                                              *
 *                                                                             *
 ******************************************************************************/

.split-pane-divider {
	-fx-background-color: inherit;
	-fx-background-radius: 5px 5px 0px 0px;
	-fx-background-insets: 0px 5px 0px 5px;
	-fx-pref-width: 18px;
}

.split-pane-divider:hover, .split-pane-divider:pressed {
	-fx-background-color: #2d2d2d;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

.label {
	-fx-text-fill: white;
}

.titel-label {
	-fx-font-size: 22px;
	-fx-text-fill: #46ae55;
	-fx-font-weight: bold;
}

.haupttitel-label {
	-fx-font-size: 55px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

/*******************************************************************************
 *                                                                             *
 * Taster                                                                      *
 *                                                                             *
 ******************************************************************************/

.button {
	-fx-pref-with: 100px;
	-fx-background-color: #46ae55;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-effect: dropshadow(gaussian, black, 5, 0.0, 0, 1);
}

.button:hover {
	-fx-background-color: #64ad6f;
}

.button:pressed {
	-fx-background-color: #31833e;
	-fx-translate-y: 1;
	-fx-effect: dropshadow(gaussian, black, 5, 0.0, 0, 0);
}

.taster-fenster {
	-fx-text-fill: white;
	-fx-pref-width: 50px;
	-fx-pref-height: 50px;
	-fx-background-color: transparent;
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;
	-fx-effect: null;
}

.taster-fenster:hover {
	-fx-background-color: #2d2d2d;
}

.taster-fenster:pressed {
	-fx-background-color: transparent;
	-fx-translate-y: 0;
	-fx-effect: null;
}

/*******************************************************************************
 *                                                                             *
 * Textfeld                                                                    *
 *                                                                             *
 ******************************************************************************/

.text-field {
	-fx-border-color: white;
	-fx-border-width: 1px;
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;
	-fx-pref-column-count: 20;
}

/*******************************************************************************
 *                                                                             *
 * Diagramme                                                                   *
 *                                                                             *
 ******************************************************************************/

.separator *.line {
	-fx-border-color: black;
	-fx-border-width: 1px;
}

/*******************************************************************************
 *                                                                             *
 * Behälter und Platzhalter                                                    *
 *                                                                             *
 ******************************************************************************/

.hauptbehaelter {
	-fx-padding: 10px 10px 10px 10px;
	-fx-background-color: #272727;
	-fx-background-radius: 10px 10px 0px 0px;
}

.behaelter {
	-fx-background-color: #323232;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-padding: 12px 12px 15px 12px;
	-fx-effect: dropshadow(gaussian, black, 5, 0.0, 0, 1);
	-fx-background-insets: 2px 2px 5px 2px;
}


/* Sachen die keiner sehen möchte */
.tree-cell, .column-header, .placeholder, .filler, .tab-header-background, .split-pane {
	-fx-background-color: transparent;
}
